<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Bootstrap Practice</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="lib/bootstrap/dist/css/app.css" rel="stylesheet">
		<!--
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="lib/font-awesom/css/font-awesome.min.css" rel="stylesheet">
    -->
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" />
    <!--endbower-->
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--endbower-->

		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
    <header class="container-fluid">
      <h1>HEADER</h1>
    </header>
    <div class="container-fluid">
      <div class="row">
        <section class="col-sm-9 col-md-8 col-sm-push3 col-md-push2">
          Col 2
        </section>
        <aside class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-8">
          Col 1
        </aside>
        <aside class="col-xs-12 col-md-2">
          Col 3
        </aside>
      </div>
    </div>
    <footer class="container-fluid">
      <h1>FOOTER</h1> 
    </footer>
	<!-- script references -->
	</body>
</html> 